*{
	margin: 0;
	padding: 0;
}
#fade_in_out{
	display: block;
}

#div1{
	width: 150px;
	height: 150px;
	margin: 10px;
	float: left;
	background: blue;
}
#div2{
	width: 150px;
	height: 150px;
	margin: 10px;
	float: left;
	background: orange;
}
#div3{
	width: 150px;
	height: 150px;
	margin: 10px;
	float: left;
	background: blue;
}

#flip{
	padding: 10px;
	text-align: center;
	background: green;
	border: 1px solid orange;
}
#panel{
	display: none;
	padding: 50px;
	text-align: center;
	background: blue;
	border: 1px solid red;
}

#flip_one{
	padding: 10px;
	text-align: center;
	background: blue;
	border: 1px solid orange;
}
#panel_one{
	display: none;
	padding: 50px;
	text-align: center;
	background: orange;
	border: 1px solid red;
}

#flip_two{
	padding: 10px;
	text-align: center;
	background: red;
	border: 1px solid orange;
}
#panel_two{
	display: none;
	padding: 50px;
	text-align: center;
	background: green;
	border: 1px solid red;
}

/*jQuery Animation Two*/

#click_to_animate{
	margin: 10px;
	padding: 10px;
	background: blue;
}

#animate{
	position: absolute;
	width: 150px;
	height: 150px;
	background: orange;
	margin: 20px;
}


/*jQuery Animation Two*/

#animate_button{
	margin: 30px;
	padding: 10px;
	background: orange;
}
#animate_block{
	position: absolute;
	width: 100px;
	height: 100px;
	background: blue;
	margin: 20px 0 0 200px;
	color: #ffffff;
}






